.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content {
    flex-grow: 1;
    padding: 30px;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }

  .actions {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &.centered {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .form {
    overflow: visible;
  }
}
